<ion-view class="home-screen" title="Home" hide-nav-bar="true">
	<!--
	<a href="#/login" class="button button-white-border home-screen-signin">SIGN IN</a>
-->
	<div class="home-screen-bottom">
		<!--
		<a href="#" class="button button-block">SIGN UP WITH FACEBOOK</a>
		<a href="#/signup" class="home-screen-email button button-block button-balanced">SIGN UP WITH EMAIL</a>
		<a href="#/app/tab/discover/home" nav-transition="android" class="home-screen-start">SIGN IN LATER!</a>
	-->
		<a href="#/app/tab/discover/home" nav-transition="android" class="button button-block">SIGN IN LATER!</a>
		<!--<a href="#/app/tab/player/157e390c508bced2c48322ad95be211f" nav-transition="android" class="home-screen-start button button-block">PLAYER Test!</a>-->
	</div>
</ion-view>
