<div style="width:100%;background-color:#0371d8;color:#fff;padding:0px;" >
    <div style="padding:.2em 0em 0em .8em;float:left;line-height:2.1em;width:86%;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;" ng-click="listenTo()">{{title}}: {{subTitle}}</div>
    <div style="padding:0px;float:right;">
        <button class="button icon" ng-class="{'ion-play': !playing,'ion-pause': playing}" style="background-color:#0371d8;color:#fff;border:none;margin-right:.5em;" ng-click="toggle()"></button>
    </div>
</div>