<ion-view view-title="Discover" cache-view="true" >
    <ion-content class="has-header">
        <ion-refresher on-refresh="pullToRefresh()"></ion-refresher>
      <div class="list">
        <a ng-repeat="show in results = shows" ui-sref="app.tab.discoverItem({rss: show.rss_feed})" class="item item-thumbnail-left">
          <img ng-src="{{show.artworkUrl100}}" style="background-color:#ddd;" />
          <h2>{{show.name}}</h2>
            <div style="height: .8em;"></div>
            <div style="height: 38px;font-size: .6em;color:#666;line-height:1.4em;-webkit-line-clamp: 3;white-space: normal;overflow: hidden;text-overflow: ellipsis;">
                {{show.summary}}
            </div>
            <span style="background-color:#eee;" ng-repeat="tag in show.tag">{{tag}}</span>
        </a>

      </div>
    </ion-content>
</ion-view>
