
<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Player Options</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list>
            <!--<ion-item ng-click="shareEpisode();">Share Episode</ion-item>-->
            <ion-item ng-click="showSummary();">Show Summary</ion-item>
            <ion-item ng-click="showIntro();">Show Intro</ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
